/* Desafio 5 - Flexbox: Centralização vertical */
/* Seu desafio é centralizar verticalmente o conteúdo de um container usando Flexbox. Você tem uma <div> com a classe .container contendo vários itens. */

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px; /* Altura ajustável conforme necessário */
  }