/* Desafio 5 - Personalizando fontes de títulos e textos */
/* Depois de importar as fontes, você irá personalizar o estilo dos títulos e textos da página para que correspondam ao design no Figma. Você modificará a propriedade font-family para os elementos de título e texto no CSS, aplicando as fontes "Krona One" e "Montserrat" respectivamente. O objetivo é garantir que o estilo visual da página web esteja alinhado com o design proposto. */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #F6F6F6;
}

.titulo-destaque{
  color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
  }

.apresentacao__conteudo {
  width: 615px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}