/* Desafio 4 - Importando e aplicando fontes do Google Fonts */
/* Nesta atividade, você irá importar as fontes "Krona One" e "Montserrat" do Google Fonts para o seu projeto web. Primeiro, você precisa pesquisar essas fontes no Google Fonts e utilizar a opção de @import para incluí-las no arquivo CSS. Em seguida, você aplicará essas fontes aos elementos de texto específicos na sua página, como títulos e parágrafos, usando a propriedade font-family. */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #F6F6F6;
}

.titulo-destaque{
  color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
  }

.apresentacao__conteudo {
  width: 615px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
}