/* Desafio 3 - Ajustando tamanhos de títulos e textos */
/* O objetivo aqui é modificar o tamanho dos textos de títulos e parágrafos para que correspondam ao design no Figma. Você vai criar classes específicas para o título (apresentacao__conteudo__titulo) e para o texto (apresentacao__conteudo__texto) no HTML. Depois, no CSS, você usará a propriedade font-size para definir os tamanhos de fonte para estas classes, com os valores retirados do Figma. */

*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #F6F6F6;
}

.titulo-destaque{
  color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
  }

.apresentacao__conteudo {
  width: 615px;
}

.apresentacao__conteudo_titulo {
  font-size: 36px;
}

.apresentacao_-conteudo_texto {
  font-size: 24px;
}